h3{
    text-align: center;
}
form{
    text-align: center;
}
input{
    padding: 10px;
}
label{
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font:bolder
}